Data_warehouse_project/schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="order">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="payment">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="order_id" type="xs:unsignedShort" />
              <xs:element name="account_id" type="xs:string" />
              <xs:element name="bank_to" type="xs:string" />
              <xs:element name="account_to" type="xs:unsignedInt" />
              <xs:element name="amount" type="xs:double" />
              <xs:element name="k_symbol" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>